/* box del call to action */
#BoxPrincipal {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
/* Titulo del Call to action */
#BoxPrincipal h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
/* boton principal del Call to action */
#BotonPrincipal {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #757575;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
/* boton del call to action cuando el raton pasa por encima */
#BotonPrincipal:hover {
    background-color: #414f6d;
    transform: scale(1.05);
}

/* Conjunto de cartas */
#cartas {
    display: flex;
}
/* Estilos de cada carta */
.card {
    width: 18rem;
    font-family: "Staatliches", sans-serif;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* estilos del boton de las cartas */
#Boton {
    background-color: #757575;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
/* Cuando el raton esta encima */
#Boton:hover {
    background-color: #414f6d;
    transform: scale(1.05);
}